body {
    margin: 0;
    padding: 1rem;
    background-color: #F2F2F2;
}
.page__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
img {
    width: 100%;
    border-radius: 10px;
}
.post_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user {
    display: flex;
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name {
    margin: 0;
    padding: 1rem;
}
.post_card {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 20px;
}
fieldset {
    border: none;
    background-color: gainsboro;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
fieldset > input,
fieldset > button {
    padding: 10px;
    border: none;
    border-radius: 10px;
}
fieldset > button {
    background-color: white;
}
.post-comment {
    background-color: skyblue;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}
