body {
    margin: 0;
    padding: 1rem;
    background-color: #F2F2F2;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.page__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
img {
    width: 100%;
    border-radius: 10px;
}
.post_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.user,
.like-post {
    display: flex;
}
.like-post span {
    padding: 10px;
}
.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.name {
    margin: 0;
    padding: 1rem;
}
.post_card {
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    margin-bottom: 20px;
}
fieldset {
    border: none;
    background-color: gainsboro;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
fieldset > input,
fieldset > button {
    padding: 10px;
    border: none;
    border-radius: 10px;
}
fieldset > button {
    background-color: white;
}
.post-comment {
    background-color: skyblue;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.comment {
    margin: 0;
    padding: 1rem;
}
.comment-container {
    margin-top: 1rem;
}
.profile-post {
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 12px;
}
.save,
.post,
.like {
    padding: 10px;
    border: none;
    width: 60px;
    border-radius: 10px;
    background-color: white;
}
.like {
    background-color: skyblue;
}
.profile-post input {
    margin-bottom: 1rem;
    padding: 10px;
    border: none;
    border-radius: 12px;
}
.add-post {
	display: grid;
	gap: 10px;
    background-color: aquamarine;
    padding: 1rem;
} 
	textarea {
        height: 100px;
        border: none;
        border-radius: 12px;
        padding: 1rem;
    }
    .add-post input {
        border: none;
        padding: 10px;
        border-radius: 12px;
    }
    .options {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

@media (min-width: 1114px) {
    body {
        max-width: 800px;
        margin: 0 auto;
    }
}
