body {
    margin: 0;
    padding: 1rem;
    background-color: #F2F2F2;
}
.page__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
img {
    width: 100%;
    border-radius: 10px;
}
.post {
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}
.profile__image {
    width: 50px;
    border-radius: 50%;
}
.user__profile {
    display: flex;
    padding-bottom: 20px;
}
.name {
    padding-left: 10px;
}