body {
    margin: 0;
    padding: 1rem;
    background-color: #F2F2F2;
}
.page__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}
img {
    width: 100%;
    border-radius: 10px;
}
.profile {
    width: 50px;
    border-radius: 50%;
}